<h1>Editing faq_category</h1>

<% form_tag :action => 'update', :id => @faq_category do %>
  <%= error_messages_for 'faq_category' %>

<!--[form:faq_category]-->
<p><label for="faq_category_name">Name</label><br/>
<%= text_field 'faq_category', 'name'  %></p>
<!--[eoform:faq_category]-->


  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @faq_category %> |
<%= link_to 'Back', :action => 'list' %>
