<tr class = "<%=facility_detail.facility_type.name.gsub(/[\ \/\-]/,'_').downcase%>">
<% for col in session[:filter][:fac_columns]
    col = col.split(/\./)[1] %>
<% @class = col == "name" ? 'tdleft' : ''%>   
<td class="<%=@class%>">
    <%=case col
        when "name"
            link_to(facility_detail.send(col).to_s,{:controller => "shelters",:action => "show", :id => facility_detail.id})
        when 'updated_at'
            h facility_detail.updated_info
        when 'cond_updated_at'  
            h facility_detail.conditions_updated_info
        else
            no_empty_cell(facility_detail.send(col).to_s).html_safe        
    end%>
</td>
<%end%>

<td align="left">
<a href="<%= url_for(:controller => 'shelters', :action => 'show', :id => facility_detail.id) %>"><img src="<%= image_path('show.png') %>" alt="show" /></a>
<%if session['user'] && (session['user'].priv_write or facility_detail.users.include?(session['user']))%>
    <a href="<%= url_for(:controller => 'shelters', :action => 'edit', :id => facility_detail.id) %>"><img src="<%= image_path('edit.png') %>" alt="edit" /></a>
<%end%>
</td>
</tr>