<div class="pagination">

  <% if params[:page] && params[:page].to_i > 1 %>
    <a href="/?page=1"><img src="<%= image_path("go-first.png") %>"/></a>
    <a href="<%= "/?page=#{params[:page].to_i - 1}" %>"><img src="<%= image_path("go-previous.png") %>"/></a>
  <% end %>

  <%= "Pages #{params[:page]} of #{@pages} Pages " %>

  <% if params[:page] && params[:page].to_i < @pages %>
    <a href="<%= "/?page=#{params[:page].to_i + 1}" %>"><img src="<%= image_path("go-next.png") %>"/></a>
    <a href="<%= "/?page=#{@pages}" %>"><img src="<%= image_path("go-last.png") %>"/></a>
  <% end %>

</div>

