<h1>Listing facilities</h1>

<table>
  <thead>
    <tr>
      <th>Website</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Headquarters</th>
      <th>Contact name</th>
      <th>Twitter</th>
      <th>Facebook</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.website %></td>
        <td><%= facility.phone %></td>
        <td><%= facility.address %></td>
        <td><%= facility.headquarters %></td>
        <td><%= facility.contact_name %></td>
        <td><%= facility.twitter %></td>
        <td><%= facility.facebook %></td>
        <td><%= link_to 'Show', facility %></td>
        <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
        <td><%= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facility', new_facility_path %>
