<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
</style>
<script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?sensor=true&key=<%= GOOGLE_API_KEY %>'>
</script>
<script type="text/javascript">
  function initializeMap() {
    var latLong = new google.maps.LatLng(<%= @facility.latitude %>, <%= @facility.longitude %>);

    var mapOptions = {
      center: latLong,
      zoom: 17
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

    // To add the marker to the map, use the 'map' property
    var marker = new google.maps.Marker({
        position: latLong,
        animation: google.maps.Animation.DROP,
        map: map,
        title:"<%= @facility.name %>"
    });
  }
  google.maps.event.addDomListener(window, 'load', initializeMap);
</script>
<ul class="breadcrumbs hide-for-small" style="margin:0px">
  <li><%= link_to 'Home', @facility.can_manage?(current_user) ? dashboard_path : root_path %></li>
  <li><%= link_to @facility.organization.name, organization_path(@facility.organization) %></li>
  <li><%= link_to "Back to #{@facility.name}", facility_path(@facility) %></li>
</ul>
<div id="map-canvas"/>