<ul class="breadcrumbs">
  <li><%= link_to 'Home', @facility.can_manage?(current_user) ? dashboard_path : root_path %></li>
  <li><%= link_to @facility.organization.name, organization_path(@facility.organization) %></li>
  <li class="current"><%= link_to @facility.name, facility_path(@facility) %></li>
</ul>
<div class="row pad-large">
<h3>Facility</h3>
<% if @facility.can_manage?(current_user) %>
  <p><%= link_to 'Edit', edit_organization_facility_path(@facility.organization, @facility) %></p>
<% end %>
<p><%= link_to "Map", map_facility_path(@facility) %></p>
<hr>
<p>
  <strong>Website:</strong>
  <%= @facility.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @facility.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @facility.address %>
</p>

<p>
  <strong>Headquarters:</strong>
  <%= @facility.headquarters %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @facility.contact_name %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @facility.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @facility.facebook %>
</p>

<hr>
<h4>Resources</h4>
<% if @facility.can_manage?(current_user) %>
  <%= link_to "Add Resource", new_facility_resource_path(@facility), :class => "button radius success" %>
<% end %>
<% @facility.resources.each do |r| %>
  <p><%= link_to r.items.first.name, facility_resource_path(@facility, r) %></p>
<% end %>
</div>