<p>
  <strong>Website:</strong>
  <%= @facility.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @facility.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @facility.address %>
</p>

<p>
  <strong>Headquarters:</strong>
  <%= @facility.headquarters %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @facility.contact_name %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @facility.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @facility.facebook %>
</p>

<% if @facility.can_manage?(current_user) %>
  <%= link_to 'Edit', edit_organization_facility_path(@facility.organization, @facility) %>
  &nbsp;|&nbsp;
<% end %>
<%= link_to 'Back', organization_path(@facility.organization) %>
