<h2>Dashboard for (<%= current_user.email %>)</h2>
<h3>Organizations</h3>
<hr>
<%= link_to "Create new Organization", new_organization_path, :class => "button radius success" %>
<% @orgs.each do |o| %>
  <p><%= link_to o.name, organization_path(o) %><p>
<% end %>
<hr>
<h4>Items</h4>
<%= link_to 'Create new Item', new_item_path, :class => "button radius success" %>
<h4>Categories</h4>
<%= link_to 'Create new Category', new_category_path, :class => "button radius success" %>
