<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @load.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @load.stock %>
</p>

<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'Back', loads_path %>
