
<% fields_for "project[task_attributes][]", task_edit do |f| %>
	<li id=<%="task_#{task_edit.id}"%> class="task">
      Task Description: <%= f.text_field :task_name, :index => nil%>
	  Status:
	  <%=f.select(:status, %w{Pending Done},{}, :index => nil)%>
      <% if task_edit.new_record? %>
        <%= link_to_function "Remove This Line", "$(this).up('.task').remove()" %>	
      <% else %>
		
<%= link_to_remote 'Delete Task', {:url =>{:action => "task_delete", :id => task_edit.id},
	:confirm => "Delete Task '#{task_edit.task_name}'?"}%>
		
		
      <% end %>	  	  	  
	  <%= f.hidden_field :id, :index => nil %>
    </li>
<% end %>


