<%=link_to "My Saved Searches",{:controller => 'searches', :action => 'list'},:style => "float:right;margin-right:15px;color:green"%>
<div title="<%= title_helper %>" class="form">
  <%= head_helper(:error => true).html_safe %>

    <%= form_tag "/user/edit", :method => :post do %>
      <div class="user_edit">
        <%= form_input :hidden_field, 'form', :value => 'edit' %>
        <table>
          <%= form_input(changeable(@user, "firstname"), "firstname").html_safe %>
          <%= form_input(changeable(@user, "lastname"), "lastname").html_safe %>
          <%= form_input(changeable(@user, "login"), "login", :size => 30).html_safe %><br/>
          <%= form_input(changeable(@user, "email"), "email").html_safe %>
          <%= form_input(:submit_button, @user.new_record? ? 'signup' : 'change_settings', :class => 'two_columns').html_safe %>
        </table>
      </div>
    <% end %>

    <br>

    <%= form_tag "/user/edit", :method => :post do %>
      <div>
        <%= form_input :hidden_field, 'form', :value => 'change_password' %>
        <table>
          <%= form_input(:password_field, "password", :size => 30).html_safe %>
          <%= form_input(:password_field, "password_confirmation", :size => 30).html_safe %>
          <%= form_input(:submit_button, 'change_password').html_safe %>
        </table>
      </div>                                                                          
    <% end %>

    <hr>

    <%= form_tag "/user/edit", :method => :post do %>
      <div class="user_delete">
        <%= form_input(:hidden_field, 'form', :value => 'delete').html_safe %>
        <%= form_input(:submit_button, 'delete_account').html_safe %>
      </div>
    <% end %>
  </div>
</div>