<div title="<%= title_helper %>" class="form">
  <%= head_helper.html_safe %>
   
  <div class="form-padding">
    <p><%= message_helper('forgot_reset').html_safe %></p>

    <%= form_tag do %>
      <%= form_input(:text_field, "email", :size => 30).html_safe %><br/>

      <div class="button-bar">
        <%= button_helper('forgot_reset').html_safe %>
        <%= link_helper('forgot_cancel_login', :action => 'login').html_safe %>
      </div>
    <% end %>
  </div>
</div>                                                                          