<h1>Listing resources</h1>

<table>
  <tr>
  <% for column in Resource.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for resource in @resources %>
  <tr>
  <% for column in Resource.content_columns %>
    <td><%=h resource.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => resource %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => resource %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy', :id => resource}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @resource_pages.current.previous } if @resource_pages.current.previous %>
<%= link_to 'Next page', { :page => @resource_pages.current.next } if @resource_pages.current.next %> 

<br />

<%= link_to 'New resource', :action => 'new' %>
