<ul class="breadcrumbs">
  <li><%= link_to 'Home', @resource.can_manage?(current_user) ? dashboard_path : root_path %></li>
  <li><%= link_to (@resource.facility.organization.name.blank? ? "Organization" : @resource.facility.organization.name), organization_path(@resource.facility.organization) %></li>
  <li><%= link_to @resource.facility.name, facility_path(@resource.facility) %></li>
  <li class="current"><%= link_to @resource.items.first.name, facility_resource_path(@resource.facility, @resource) %></li>
</ul>
<div class="row pad-large">
<h3>Resource</h3>
<% if @resource.can_manage?(current_user) %>
  <p><%= link_to 'Edit', edit_facility_resource_path(@resource.facility, @resource) %></p>
<% end %>
<hr>
<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>
<hr>
<h4>Tags</h4>
<% @resource.tags.each do |t| %>
  <span><%= t.name.titleize %>&nbsp;</span>
<% end %>
</div>