  <tr class="itemrow">
  <td class="tdleft"><%= item_detail.name %></td>
  <td class="tdright"><%= no_empty_cell(item_detail.tot_needed).html_safe %></td>
  <td class="tdright"><%= no_empty_cell(item_detail.shelters_need).html_safe %></td>
  <td class="tdright"><%= no_empty_cell(item_detail.qty_per_pallet).html_safe %></td>
  <td class="tdleft">
    <a href="<%= url_for(:action => 'show', :id => item_detail) %>"><img src="<%= image_path('show.png') %>"/></a>
    <%if session['user'] && (session['user'].priv_write)%>
      <a href="<%= url_for(:action => 'edit', :id => item_detail) %>"><img src="<%= image_path('edit.png') %>"/></a>
    <%end%>
  </td> 
  </tr>