<h1>Editing item</h1>
<B>Created at: </B><%= @item.created_at %><BR>
<B>Updated at: </B><%= @item.updated_at %><BR>
<B>Updated by: </B><%= @item.safe_upd_by%><BR>
<BR>

<% form_tag :action => 'update', :id => @item do %>
  <%= error_messages_for 'item' %>

  <!--[form:item]-->
  <p><label for="item_name">Name</label><br/>
  <%= text_field 'item', 'name'  %></p>

  <p><label for="item_qty_per_pallet">Qty per Pallet</label><br/>
  <%= text_field 'item', 'qty_per_pallet', :size => 5, :maxlength => 5  %></p>

  <p><label for="item_notes">Notes</label><br/>
  <%= text_area 'item', 'notes'  %></p>
  <!--[eoform:item]-->

  <BR>
  Assign categories to this item:<BR>
  <% for category in Category.find(:all, :order => "upper(name)") %>
    <% if @item.categories.include?(category) %>
      <% checked = true %>
    <% else %>
      <% checked = false %>
    <% end %>
    <%= check_box_tag("categories[#{category.id}]", 1, checked) %> <%=h category.name %><BR>
  <% end %>
  <P>
  <%= submit_tag 'Save Changes' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @item %> |
<%= link_to 'Back', :action => 'list' %>
