<h1>New item</h1>

<% form_tag :action => 'create' do %>
  <%= error_messages_for 'item' %>

  <!--[form:item]-->
  <p><label for="item_name">Name</label><br/>
  <%= text_field 'item', 'name'  %></p>

  <p><label for="item_qty_per_pallet">Qty per Pallet</label><br/>
  <%= text_field 'item', 'qty_per_pallet', :size => 5, :maxlength => 5  %></p>

  <p><label for="item_notes">Notes</label><br/>
  <%= text_area 'item', 'notes'  %></p>
  <!--[eoform:item]-->

  <BR>
  Assign categories to this item:<BR>
  <% for category in Category.find(:all, :order => "upper(name)") %>
    <% if @item.categories.include?(category) %>
      <% checked = true %>
    <% else %>
      <% checked = false %>
    <% end %>
    <%= check_box_tag("categories[#{category.id}]", 1, checked) %> <%=h category.name %><BR>
  <% end %>
  <P>


  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
