<div class="text">
<H3>How to Enter New Facilities</H3>
This page explains how to enter new information into the database. For anything not covered here, please check the <%=link_to "FAQ", :action => "faq"%>, and if you can't find the answer there, go ahead and <%=link_to "E-mail us", "mailto:#{$DBADMIN}" %>.
<P>
You may want to <%=link_to "open this page in a seperate window", { :action => 'help'}, {:target => "_new"}%> or <%=link_to "print it out", "javascript:print()"%> to refer to while you go through this process for the first time.
<BR>
<H4>Before you Begin</H4>
If you're not in too much of a hurry, we suggest you explore the site a bit to get a sense of how things are laid out, before you start entering new records. The most important thing to understand is that there are two distinct sorts of things we're dealing with here. There are <b><%=link_to "Facilities", :controller => 'shelters', :action => 'list' %></b>, which represent a particular location (or sometimes, a particular region). Each facility is of a particular type, and that type is indicated by its background color in listings. And then there are <b><%=link_to "Availabilities and Needs", :controller => 'conditions', :action => 'list' %></b> (collectively called 'Conditions'), which are something that a Facility either <b>has</b> or <b>needs</b>.
<P>
When you're looking at a <%=link_to "Category", :controller => "categories", :action => "list" %> listing, such as <%=link_to "Services", :controller => "categories", :action => "show", :id => 15 %>, what you're seeing is a listing of what facilities <b>have</b> or <b>need</b> a particular item. A brand new facility won't show up anywhere except the the <%=link_to "Facilities", :controller => 'shelters', :action => 'list' %> list; after a facility is created, it must have <b>availabilities</b> and <b>needs</b> added to it, so that we know <b>what it has</b> and <b>what it needs</b>.
<BR>
<H4>Checking That the Facility Doesn't Already Exist</H4>
Before entering a new facility, it's a good idea to make sure someone else hasn't already entered it. To do this, go to the <%=link_to "Facilities", :controller => 'shelters', :action => 'list' %> listings, and look for the facility. Let's say you want to enter information about a medical clinic in Biloxi. Before starting, check for a red link at the top called 'Clear All Sort/Filter Settings'. If this shows up, it means you've previously set some sorting/filtering options. Click the Clear link to make sure you're viewing all shelters. Next, you'd want to narrow the display down to the region you're interested in, so at the top, you'd find the dropdown for 'Region', and select 'MS/Gulf Coast' (that's where Biloxi is). This will bring you to a listing sorted by County, then Town. If you want to just sort by Town, click the 'Town' column heading. Now you can scroll down the list to find where Biloxi is listed, and see if the facility you have in mind already exists.
<P>
If you have new information about a facility which someone else created, you'll need to <%=link_to "E-mail us", "mailto:#{$DBADMIN}" %> us so that we can set you up with access to update that facility (or you can just send us the information, if you're in a hurry). You'll always have access to update facilities which you created; you can use the 'Show only My Facilities' checkbox at the top of any listing to only show records which you are currently able to update.
<BR>
<H4>Getting Down To Business -- Creating a Facility</H4>
Let's assume you've finished checking now, and there's no existing entry for the medical clinic in Biloxi that you know about. Now you're ready to enter a new facility. At the top left of any page, click <%= link_to 'Enter New Facility', :controller => 'shelters', :action => 'new' %>. This will take you to a form where you can fill out all the details of the facility. You'll be prompted to log in at this point, if you haven't already.
<P>
Now fill out the facility form. There are some instructions on the form to help you enter information correctly. When you're done, click 'Create' at the bottom, and you'll then be taken to the page for the new facility.
<P>
Next, you'll need to enter any services the facility offers, and any needs it has. So, if it's a medical clinic, you'll want to click on the 'Quick Availability Creator' at the bottom, scroll across the form to find 'Services', and check off 'Medical Assistance'. If there are other services or supplies available at the facility, check these off as well. When you're done checking off what's available, click 'create' at the bottom to create those entries.
<P>
Once you've entered what a facility has to offer, do the same thing for what it needs. Click the 'Quick Needs Creator', and check off things the facility is in need of. Using our medical clinic example, let's say they need more latex gloves and medical volunteers. Just scroll across to find the 'Medical' heading, and you'd see these items listed; check them off to indicate they're needed, then click 'create' when you're done.
<P>
When you're entering Availability and Needs info in the Quick Creators, you'll notice several fields which you can fill out to indicate quantities and other information. While using the Quick Creators, you can leave these unchanged/blank, or you can specify defaults which will apply to all the Availabilities/Needs that you're creating. Once you're all done creating entries, click on the Quick Condition Editor, and that will allow you to individually adjust these values for each Availability and Need.
<P>
That's it! Now this facility will automatically be listed in all the relevant categories. If you entered that Medical Assistance is available, next time someone clicks on <%=link_to "Services", :controller => "categories", :action => "show", :id => 15 %>, they'll see your new facility show up. If you entered a need for <%=link_to "Latex Gloves", :controller => 'items', :action => 'show', :id => 5 %>, a donor with latex gloves can now easily find the facility by looking at the listing for that <%=link_to "Item", :controller => 'items', :action => 'list' %>.
<BR>
<H4>And Thanks!</H4>
We realize entering data isn't always the most exciting thing when you're doing it. But boy is it exciting for the people who can now find what they need to live, all because of your efforts!! If someone needs to find dinner, 20 crates of toothbrushes aren't going to help them. And when they're done with dinner, all the toothpaste in the world is no good without a brush. Getting the right help to the right people at the right time is an incredible challenge, and we can only do it with your help!
<P>
</div>
