<h2>Organization</h2>
<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<% if @organization.can_manage?(current_user) %>
  <%= link_to 'Edit', edit_organization_path(@organization) %>
  &nbsp;|
<% end %>
<%= link_to 'Back', @organization.can_manage?(current_user) ? dashboard_path : root_path %>

<hr>

<% if @organization.can_manage?(current_user) %>
  <h3>Users</h3>
  <%= form_tag(organization_add_user_path(:organization_id => @organization.id), :method => :post) do %>
    <input type="email" name="email" placeholder="Enter email address"></input>
    <input type="submit" value="Add User"/>
  <% end %>
  <% @organization.users.each do |u| %>
    <p><%= link_to u.email, "mailto:#{u.email}" %>&nbsp;|&nbsp;<%= link_to 'X', organization_remove_user_path(:organization_id => @organization.id, :user_id => u.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => :highlight %></p>
  <% end %>
<% end %>

<h3>Facilities</h3>
<% if @organization.can_manage?(current_user) %>
  <%= link_to "New Facility", new_organization_facility_path(@organization) %>
<% end %>
<% @organization.facilities.each do |f| %>
  <p><%= link_to f.name, organization_facility_path(@organization, f) %></p>
<% end %>