<h2>Organization</h2>
<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<% if @organization.can_manage?(current_user) %>
  <%= link_to 'Edit', edit_organization_path(@organization) %>
  &nbsp;|
<% end %>
<%= link_to 'Back', @organization.can_manage?(current_user) ? dashboard_path : root_path %>



<hr>

<% if @organization.can_manage?(current_user) %>
  <h3>Users</h3>
  <% @organization.users.each do |u| %>
    <p><%= link_to u.email, "mailto:#{u.email}" %></p>
  <% end %>
<% end %>

<h3>Facilities</h3>
<% if @organization.can_manage?(current_user) %>
  <%= link_to "New Facility", new_organization_facility_path(@organization) %>
<% end %>
<% @organization.facilities.each do |f| %>
  <p><%= link_to f.address, organization_facility_path(@organization, f) %></p>
<% end %>