<h1>New category</h1>

<%= form_tag :action => 'create' do %>
  <%= error_messages_for 'category' %>

  <!--[form:category]-->
  <p><label for="category_name">Name</label><br/>
  <%= text_field 'category', 'name'  %></p>

  <p><label for="category_notes">Notes</label><br/>
  <%= text_area 'category', 'notes'  %></p>
  <!--[eoform:category]-->
  <BR>
  Assign items to this category:<BR>
  <% for item in Item.find_all_with_uncat() %>
  <%= "<B>" if item.uncat == "t" %>
  <%= "<b style=\"color:red\">" if item.nocat == "t" %>
    <% if @category.items.include?(item) %>
      <% checked = true %>
    <% else %>
      <% checked = false %>
    <% end %>
    <%= check_box_tag("items[#{item.id}]", 1, checked) %> <%=h item.name %>
    <%= "</B>" if item.uncat == "t" or item.nocat == "t" %>
    <BR>
  <% end %>
  <small><b>(unassigned items in bold)</b></small>
  <small><b><font style="color:red">(uncategorized items in red)</font></b></small>
  <P>

    <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
