Welcome to the <%= @app_name %>, <%= @name %>.

Please click on the following link to verify your registration:

<A HREF="<%= @url %>">Verify Registration</A>

If the link above is not clickable for you, please paste the below URL into your browser's address bar, being careful to keep it all on one line:

<%= @url %>

Once you have verified your account, you will be able to log into the database with your selected login id, '<%=@login%>', and the password you entered on the signup form.

By default, your account will give you access to browse all public data, and to create and edit new Facilities. If you require additional access, or if you have any trouble logging into or using the database, please send an E-mail to <%=$DBADMIN%> and we'll be happy to assist you.

Thanks for joining us!
