 <tr>
      <td><%=user_detail.login%></td>
      <td><%=user_detail.name%></td>
      <td align=right><%= user_detail.category_new if user_detail.category_new.to_i > 0 %></td>
      <td align=right><%= user_detail.category_update if user_detail.category_update.to_i > 0 %></td>
      <td align=right><%= user_detail.condition_new if user_detail.condition_new.to_i > 0 %></td>
      <td align=right><%= user_detail.condition_update if user_detail.condition_update.to_i > 0 %></td>
      <td align=right><%= user_detail.item if user_detail.item.to_i > 0 %></td>
    </tr>