<h3>User <%=h @user.initials %> (<%=h @user.firstname%> <%=h @user.lastname%>) is permissioned for shelters:</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Town</th>
    <th>State</th>
  </tr>
  <% for shelter in @user.shelters %>
    <tr>
      <td><%=link_to h(shelter.name), :controller => 'shelters', :action => 'show', :id => shelter %></td>
      <td><%=h shelter.town %></td>
      <td><%=h shelter.state %></td>
    </tr>
  <% end %>
</table>

<% if User.find(session['user']) && User.find(session['user']).priv_admin %>
	<p>
	<%= form_tag :action=>'add_shelter' do -%>
	<%=select(:shelter, :id,Shelter.find(:all,
           		     :select => "id,name",
	                 :order => "name").map{|s|[truncate(s.name,60,'...'),s.id]})%>
	<%=hidden_field_tag :user_id, @user.id%>					 
	<%=submit_tag "Add Shelter"%>					 
	<% end -%>
	</p>
<% end %>