<html>
<head>
  <title>FaqCategories: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
